* {
  font-family: 'Karla', sans-serif;
}

:root {
  --primary-color: #0D6EFD; 
  --secondary-color: #0962e7;  
  --background-color: #fff; 
}

.shopping-list {
  font-size: large;
  margin: 20px;
  text-align: center;
}

input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

.navbar {
  font-family: 'Karla', sans-serif; 
  font-weight: 600; 
}