.search {
    width: 60%;
    margin: auto;
    margin-top: 50px;
}

.search h3 {
    text-align: left;
    font-weight: 600;
    font-size: 25px;
}

.search p {
    text-align: justify;
    font-weight: 500;
    font-size: 16px;
}

.search-container {
    align-items: center;
    width: 100%;
    margin: auto;
    border-radius: 5px;
}

.search-bar {
    padding-top: 10px;
    display: flex;
    width: 100%;
    margin: auto;
}

.search-button {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    height: 45px;
    color: white;
    background: var(--primary-color);
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: 600;
}

.search-button:hover {
    background: var(--secondary-color);
}

.search-icon {
    margin-left: auto;
    margin-right: 20px;
}

.ingredient-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-left: -8px;
}

.ingredient-container input {
    border-color: white;
    width: fit-content;
}

.ingredient {
    background-color: transparent;
    border: 1.5px solid var(--primary-color);
    color: var(--primary-color);
    padding: 5px 10px;
    margin: 5px 0px 0px 8px;
    border-radius: 5px;
    cursor: default;
}

.ingredient-input-field {
    font-size: 15px;
}

.ingredient p {
    display: inline;
}

.ingredient i {
    display: inline;
    cursor: pointer;
    size: 1px;
}